<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper_oracle.StudentMapper">
<select id="list" resultType="hashmap">
	select * from 
	(select rownum rn, scode, sname, s.dept, birthday, pname from students s, professors where advisor=pcode) t 
	where rn between #{pageStart}+1 and (#{pageStart}+#{perPageNum})
</select>
</mapper>