<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper_oracle.SalesMapper">
<insert id="salesinsert">
	insert into sales(sno, sales_companycode, sales_day, sales_categorycode, paytype, salesamount, salescount, salestype) 
	values(sales_seq.nextval, #{sales_companycode},#{sales_day}, #{sales_categorycode},#{paytype},#{salesamount},#{salescount},#{salestype})
</insert>
</mapper>